
body {
  font-family: 'Abel', sans-serif;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    display: block;
}
h1{
  font-family: 'Monoton', cursive;
  text-align: center;
  font-size: 5em;
  margin-top: 5%;
}
h2{
  border: 5px solid black;
  width: 200px;
  margin-left: 20%;
  padding: 5px;
}
h3 {
  margin: auto;
  max-width: 800px;
  text-align: center;
}
.container{
  max-width: 1000px;
}
